@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	border: 0;
}

/* Header Section */

.bg-color {
	background-color: #1f2937;
	padding: 20px;
}

.header {
	display: flex;
	width: 900px;
	margin: auto;
	justify-content: space-between;
	color: #fff;
}

.logo {
	font-size: 24px;
	color: #f9faf8;
}

ul {
	display: flex;
	gap: 20px;
	list-style: none;
}

a {
	text-decoration: none;
	font-size: 18px;
	color: #e5e7eb;
}

/* Hero Section */

.hero {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3rem;
}

.hero.bg-color {
	padding: 60px;
}

.hero-left-side {
	display: flex;
	width: 400px;
	flex-direction: column;
}

.hero-right-side {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 450px;
	height: 179px;
	font-size: 18px;
	background-color: #e5e7eb83;
}

.hero-title {
	font-size: 48px;
	font-weight: 900;
	color: #f9faf8;
}

.hero-text {
	font-size: 18px;
	color: #e5e7eb;
}

.btn {
	width: 120px;
	margin-top: 10px;
	padding: 10px;
	background-color: #3882f6;
	color: #fff;
	border-radius: 10px;
}

/* Product Info Section */

.products {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 800px;
}

.title-products {
	font-size: 36px;
	font-weight: bolder;
	padding: 40px;
}

.products-container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
}

.product-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: auto;
}

.square {
	width: 150px;
	height: 150px;
	border: 4px solid #3882f6;
	border-radius: 10px;
}

.info-product {
	width: 130px;
	margin-top: 4px;
	text-align: center;
}
